<div class="container-fluid footer">
    <div class="row">

        <div class="col-lg-6">
            <h1>MihciStore</h1>
            <p>DOBRI OGLASI, DOBER NAKUP</p>
        </div>
        <div class="col lg-4">
            <a routerLink="">Domov</a>
            <a routerLink="menu">Oglasi</a>
            <a routerLink="about">O nas</a>
            <a routerLink="contact">Kontakt</a>
            <a routerLink="login">Prijava</a>
            <a routerLink="register">Registracija</a>
        </div>
    </div>
</div>