
  .about-us-container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  
    .about-us-header {
      text-align: center;
      font-size: 2em;
      margin-bottom: 1em;
    }
  
    .about-us-content {
      line-height: 1.5;
  
      p {
        margin-bottom: 1em;
      }
    }
  
    .about-us-contact {
      border-top: 1px solid #ccc;
      padding-top: 1em;
  
      .about-us-contact-header {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 0.5em;
      }
  
      li {
        list-style: none;
        margin-bottom: 0.5em;
      }
    }
  }