<body>
<form action="">
    <div class="headingsContainer">
        <h3>Prijavi se</h3>
        <p>Prijavite se z uporabniskim imenom in geslom</p>
    </div>
    <div class="mainContainer">
        <label for="username">Uporabnisko ime</label>
        <input type="text" placeholder="Vnesite uporabnisko ime" name="username" required>

        <br><br>

        <label for="pswrd">Vase geslo</label><br>
        <input type="password" placeholder="Vnesite geslo" name="pswrd" required>

        <div class="subcontainer">
            <p class="forgotpsd"> <a href="#">Pozabljeno geslo</a></p>
        </div>


        <label for="submit"></label>
        <input type="submit" value="Submit">

    </div>

</form>
</body>
